.text{
    color: black;
    position: absolute;
    bottom: 60px;
}
.text2{
    text-decoration: line-through;
    position: absolute;
    bottom: 30px;
}
.text3{
    color: red;
    position: absolute;
    bottom: 1px;
}